body {
  background-color: #849d8f;
  font-size: 16px;
  line-height: 22px;
  color: #323232;
  font-weight: normal;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}
h1 {
  font-size: 60px;
  line-height: 50px;
  color: #ffffff;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}
h2 {
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}
h3 {
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}
.h4 {
  font-size: 24px;
  line-height: 30px;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}
p {
  padding: 0;
  margin: 0;
}
body > input[type="radio"] {
  display: none;
}
.container {
    width: 860px;
    margin: 0 auto;
    padding: 0 20px;

  }
.main-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  padding-top: 10px;
}
/*Навигация*/
.nav {
  margin: 0;
  margin-left: 25px;
  padding: 0;
}
.nav .nav_btn {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  margin-top: 10px;
  padding: 0;
  padding-bottom: 5px;
}
.nav_btn .nav_link {
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  display: block;
  text-decoration: underline;
  color: #ffffff;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
}
.nav_link:hover {
  background: #ffffff;
  color: black;
  border-radius: 30px;
  text-decoration: none;
}
.sub_menu .sub_link{
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  list-style: none;
  color: black;
  margin: 0;
  padding: 0;
  padding-left: 20px;
}
.sub_menu .sub_btn {
  padding: 0;
  padding-top: 7px;
  padding-bottom: 7px;
}
.nav_btn .sub_menu {
  position: absolute;
  width: 145px;
  display: none;
  margin: 0;
  margin-top: 5px;
  padding: 0;
  text-decoration: none;
  list-style: none;
  background: #ffffff;
  color: black;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}
.sub_btn:hover {
  background: #fbded8;
}
.nav_btn:hover .sub_menu{
  display: block;
}
/**Юзер блок**/
.user_block {
  min-width: 265px;
  margin-left: auto;
}
.search {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 23px 15px;
}
.login {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 23px 15px;
  padding-left: 40px;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  text-decoration: none;
}
.login:hover {
  background: #ffffff;
  color: black;
}
.login::before {
  content: "";
  position: absolute;
  left: 15px;
  width: 21px;
  height: 19px;
  background: transparent url("img/login.png") no-repeat;
  background-position: 15px 1px;
  opacity: 0.3;
}
.login:hover::before {
  opacity: 1;
}
.basket {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 23px 15px;
}
/*Слайдер*/
.site_wrapper {
  min-width: 900px;
  background-repeat: no-repeat;
  background-position: top center;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}
.site_wrapper::before,
.site_wrapper::after {
  content: "";
  visibility: hidden;
}
.site_wrapper::before {
  background-image: url(../img/slide_2png);
}
.site_wrapper::after {
  background-image: url(../img/slide_3.png);
}
.slider {
  width: 860px;
  min-height: 240px;
  position: relative;
  padding-top: 330px;
  text-align: center;
  color: #ffffff;
}
.slide {
  display: none;
}
.slide_title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 100px;
  font-weight: bold;
  font-size: 60px;
}
.slide_btn {
  display: inline-block;
  padding: 12px 50px;
  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}
.slide_btn:hover {
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}
.slide_btn:active {
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}
.slider_controls {
  position: absolute;
  bottom: 25px;
  left: 0;
  z-index: 20;

  font-size: 0;
}
.slider_controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#btn_1:checked ~ .site_wrapper #slide1,
#btn_2:checked ~ .site_wrapper #slide2,
#btn_3:checked ~ .site_wrapper #slide3 {
  display: block;
}

#btn_1:checked ~ .site_wrapper {
  background-color: #849d8f;
  background-image: url("../img/slide_1.png");
}

#btn_2:checked ~ .site_wrapper {
  background-color: #8996a6;
  background-image: url("../img/slide_2.png");
}

#btn_3:checked ~ .site_wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slide_3.png");
}

#btn_1:checked ~ .site_wrapper label[for="btn_1"],
#btn_2:checked ~ .site_wrapper label[for="btn_2"],
#btn_3:checked ~ .site_wrapper label[for="btn_3"] {
  background-color: #ffffff;
}
/*Баннеры*/
.banners {
  width: 860px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.banner_img {
  display: block;
  border-radius: 15px;
}
.banner_left {
  width: 420px;
  position: relative;
}
.banner_right {
  width: 420px;
  position: relative;
}
.banner_text {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
  margin: 0;
  padding: 0;
}
.banner_link_jam {
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  width: 165px;
  height: 25px;
  border-radius: 40px;
  text-align: center;
  display: block;
  background-image: -moz-linear-gradient( 90deg, rgb(202,56,36) 0%, rgb(242,104,67) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(202,56,36) 0%, rgb(242,104,67) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(202,56,36) 0%, rgb(242,104,67) 100%);
  opacity: 0.988;
  box-shadow: 0px 2px 2px 0px rgba(85, 8, 0, 0.54);
  position: absolute;
  bottom: 25px;
  right: 20px;
  text-decoration: none;
  color: #ffffff;
}
.banner_link_jam:hover {
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}
.banner_link_chocolate {
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  width: 190px;
  height: 25px;
  border-radius: 40px;
  text-align: center;
  display: block;
  background-image: -moz-linear-gradient( 90deg, rgb(202,56,36) 0%, rgb(242,104,67) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(202,56,36) 0%, rgb(242,104,67) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(202,56,36) 0%, rgb(242,104,67) 100%);
  opacity: 0.988;
  box-shadow: 0px 2px 2px 0px rgba(85, 8, 0, 0.54);
  position: absolute;
  bottom: 25px;
  right: 20px;
  text-decoration: none;
  color: #ffffff;
}
.banner_link_chocolate:hover {
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}
/*Хиты продаж*/
.hit {
  width: 860px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  text-align: center;
  list-style: none;
}
.hit_img {
  display: block;
  border-radius: 50%;
  margin: 0;
  padding: 0;
  padding-left: 10px;
  padding-top: 10px;
  position: relative;
}
.hit_price {
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
  padding: 0;
  margin: 0;
  color: #ffffff;
  position: absolute;
  top: 145px;
  left: 10px;
}
.hit_item {
  width: 220px;
  height: 365px;
  position: relative;
}
.hit_item:hover {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}
.hit_text {
  width: 200px;
  padding-top: 16px;
  padding-left: 8px;
  text-align: center;
  color: #ffffff;
  text-decoration: underline;
}
.hit_btn_link {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  display: none;
  text-decoration: none;
  color: #ffffff;
  border-radius: 20px;
}
.hit_item:hover .hit_btn_link {
  position: absolute;
  width: 195px;
  height: 25px;
  margin: 0;
  left: 13px;
  bottom: 18px;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  background-image: -moz-linear-gradient( 90deg, rgb(202,56,36) 0%, rgb(242,104,67) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(202,56,36) 0%, rgb(242,104,67) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(202,56,36) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.004);
}
.hit_btn .hit_btn_link:hover {
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}
/*СЕО блок*/
.seo {
  width: 860px;
  height: 370px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 40px;
  border-radius: 10px;
  background: url(../img/seo_bg.jpg);
}
.seo_block {
  width: 420px;
  padding: 0;
  margin: 0;
  position: relative;
}
.seo_text {
  padding-left: 75px;
  padding-top: 20px;
  font-size: 16px;
  line-height: 22px;
}
.seo_img {
  width: 50px;
  position: absolute;
  left: 20px;
}
.seo_head {
  width: 695px;
  padding-left: 20px;
  padding-top: 30px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
}
/*Блог и рассылка*/
.blog_mail {
  width: 860px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.blog {
  display: block;
  width: 420px;
  height: 220px;
  background: url(../img/blog_bg.jpg) no-repeat;
  border-radius: 15px;
}
.blog_link {
  width: 300px;
  display: inline-block;
  margin-left: 20px;
  color: #353535;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}
.blog_news {
  display: inline-block;
  margin-left: 20px;
  margin-top: 25px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #5a5a5a;
}
.mail {
  position: relative;
  display: block;
  width: 420px;
  height: 220px;
  background: url(../img/send_bg.png);
  border-radius: 15px;
}
.mail_bg {
  padding: 0;
  margin: 0;
  margin-left: 5px;
  margin-top: 5px;
  width: 410px;
  height: 210px;
  background-color: #f8f7f4;
  border-radius: 15px;
}
.mail_text {
  padding: 0;
  margin: 0;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 30px;
  color: #5a5a5a;
}
.form_mail {
  padding: 0;
  margin: 0;
  padding-top: 15px;
}
.form_mail_text {
  border: 1px solid rgb(178, 178, 178);
  border-radius: 5px;
  padding: 0;
  margin: 0;
  margin-left: 20px;
  width: 230px;
  height: 45px;
  background-color: rgb(255, 255, 255);
  opacity: 0.52;
}
.form_mail_btn {
  margin-left: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  border: none;
  border-radius: 30px;
  width: 130px;
  height: 45px;
  color: #ffffff;
  background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}
.form_mail_btn:hover {
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}
/*Карта проезда*/
.map {
  position: relative;
  width: 900px;
  margin-bottom: 0;
  margin-left: -20px;
}
.form_order {
  position: absolute;
  top: 60px;
  bottom: 60px;
  right: 20px;
  width: 300px;
  background-color: white;
  border-radius: 20px;
}
.order {
  width: 225px;
  padding: 0;
  margin: 0;
  padding-top: 25px;
  padding-left: 20px;
}
.order_small {
  font-size: 14px;
  line-height: 20px;
  color: #323232;
}
.order_big {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #323232;
}
.order_btn {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #ffffff;
  margin: 0;
  margin-left: 25px;
  margin-top: 25px;
  padding: 0;
  border: none;
  border-radius: 30px;
  width: 250px;
  height: 45px;
  background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}
.order_btn:hover {
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}
/*Подвал*/
.main_footer {
  width: 860px;
  display: flex;
  justify-content: space-between;
}
.footer_social {
  width: 200px;
}
.footer_menu {
  width: 420px;
}
.footer_copyright {
  width: 200px;
}
